{% if site.owner.google.ad-client and site.owner.google.ad-slot %}
<div class="google-ads">
  <!-- 320 x 50 ad -->
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <ins class="adsbygoogle"
       style="display:inline-block;width:320px;height:50px"
       data-ad-client="{{ site.owner.google.ad-client }}"
       data-ad-slot="{{ site.owner.google.ad-slot }}"></ins>
  <script>
  (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</div><!-- /.google-ads -->
{% endif %}

<nav class="footer-navigation" aria-label="{% if page.lang == 'fr' %}Navigation secondaire{% else %}Secondary navigation{% endif %}">
  <a href="{{ site.url }}{% if page.lang == 'fr' %}/fr/topics/{% else %}/topics/{% endif %}">{% if page.lang == 'fr' %}Thèmes{% else %}Topics{% endif %}</a>
  <a href="{{ site.url }}/posts/">Articles</a>
  <a href="{{ site.url }}/tag/talk/">{% if page.lang == 'fr' %}Conférences{% else %}Talks{% endif %}</a>
  <a href="{{ site.url }}/tags/">{% if page.lang == 'fr' %}Index des tags{% else %}Tag index{% endif %}</a>
  <a href="{{ site.url }}{% if page.lang == 'fr' %}/apropos/{% else %}/about/{% endif %}">{% if page.lang == 'fr' %}À propos{% else %}About{% endif %}</a>
</nav>
<span>&copy; {{ site.time | date: '%Y' }} {{ site.owner.name }}.</span>
