<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include _head.html %}
</head>

<body class="home">

{% include _browser-upgrade.html %}

{% include _navigation.html %}

{% if page.image.feature %}
  <div class="image-wrap">
  <img src=
    {% if page.image.feature contains 'http' %}
      "{{ page.image.feature }}"
    {% else %}
      "{{ site.url }}/images/{{ page.image.feature }}"
    {% endif %}
  alt="{{ page.title }} feature image">
  {% if page.image.credit %}
    <span class="image-credit">Photo Credit: <a href="{{ page.image.creditlink }}">{{ page.image.credit }}</a></span>
  {% endif %}
  </div><!-- /.image-wrap -->
{% endif %}

<div id="main" role="main"> 
  <div class="article-author-side">
    {% include _author-bio.html %}
      <div class="sidebar-block tag-cloud">
      <h3>Topics</h3>
      {% include _tag_cloud.html %}
    </div>
  </div>
  <div id="index">
    <h3><a href="{{ site.url}}/posts/">Recent Posts</a></h3>
   {% assign posts_ok = site.posts | where_exp: "p", "p.draft != true and p.noindex != true and (p.translation_en == nil or p.translation_en == '')" %}
   {% assign talks_ok = site.talks | where_exp: "t", "t.draft != true and t.noindex != true and (t.translation_en == nil or t.translation_en == '')" %}
   {% assign articles = posts_ok | concat: talks_ok | sort: 'date' | reverse %}
   {% assign articles = articles | slice: 0, 10 %}
   {% for item in articles %}
      <article>
        {% if item.link %}
          <h2 class="link-post">
            <a href="{{ site.url }}{{ item.url }}" title="{{ item.title }}">{{ item.title }}</a>
            <a href="{{ item.link }}" target="_blank" title="{{ item.title }}"><i class="fa fa-link"></i></a>
            {% if item.translation_fr %}
                 <a href="{{ site.url }}{{ item.url }}">🇬🇧</a>
               	 <a href="{{ site.url }}{{ item.translation_fr  }}">🇫🇷</a>       
            {% endif %}
          </h2>
        {% else %}
          <h2>
            <a href="{{ site.url }}{{ item.url }}" title="{{ item.title }}">{{ item.title }}</a>
            {% if item.translation_fr %}
                 <a href="{{ site.url }}{{ item.url }}">🇬🇧</a>
               	 <a href="{{ site.url }}{{ item.translation_fr  }}">🇫🇷</a>       
            {% endif %}
          </h2>
          <p>{{ item.excerpt | strip_html | truncate: 160 }}</p>
        {% endif %}
      </article>
   {% endfor %}
  </div><!-- /#index -->
</div><!-- /#main -->

<div class="footer-wrap">
  <footer>
    {% include _footer.html %}
  </footer>
</div><!-- /.footer-wrap -->

{% include _scripts.html %}
  
</body>
</html>
